/* minimal reset */
* {
    margin: 0;
    padding: 0;
}

/* page styles */
body {
    background: #ddd;
    font-family: sans-serif;
}

button {
    border: none;
    background: #aaa;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 5px;
}

#container {
    width: 800px;
    margin: 1em auto;
}

#container > * {
    float: left;
}

#scratchpad {
    background: #eee;
    box-shadow: 0 0 20px #ccc;
}
